$theme: blue;
// 根据ui提供的规范定义
$color-text: #333;   //文字颜色 #333333
$color-text-dark: #000;
$color-text-gray: #666;
$color-text-grayer: #999;

$color-link: #333; // 链接颜色

$color-base-dark: #333; // 基本色
$color-base-grayer: #666;
$color-base-gray: #999;
$color-base-white: #ddd;

$color-bg: #f2f4f6; //背景颜色
$color-bg-white: #fff;
$color-bg-grayer: #f5f5f5;

$color-bd: #ddd; //边框颜色
$color-bd-gray: #eee;

//字体定义规范
$font-size-s: .1rem;
$font-size-sm: .12rem;
$font-size-m: .14rem;
$font-size-l: .16rem;
$font-size-xl: .18rem;
$font-size-xxl: .2rem;
$font-size-xxxl: .22rem;
